@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.left{
    flex-basis: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}
.left .headline  h1{
    font-size: 3rem;
    margin-bottom:10px;
    background: -webkit-linear-gradient(45deg, #6F04D9, #0597F2,#05C7F2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.left .headline p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    color: #1c1c1c;
}
.left form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.left form input{
    margin: 10px 0;
    padding: 20px 15px;
    font-size: 1rem;
    border-radius:5px;
    border:none;
    outline: none;
    background-color:#efefef;
}
form input[type="submit"]{
    background: linear-gradient(45deg, #6F04D9, #0597F2,#05C7F2 );
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background: linear-gradient(45deg, #6F04D9, #6F04D9,#6F04D9 );
}
form a{
    text-decoration: none;
    background: -webkit-linear-gradient(45deg, #6F04D9, #0597F2,#05C7F2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right{
    position: relative;
    flex-basis: 40%;
    background: -webkit-linear-gradient(45deg, #6F04D9, #0597F2,#05C7F2 );
    height: 100%;
}
.right img{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left:-140px ;
}