@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    display: grid;
}

.header-principal {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: black;
}

.menu-nav {
    gap: 20px;
    display: flex;
    list-style-type: none;
    margin-left: 70px;
    height: 80px;
    align-items: center;
}

.menu-nav a {
    color: white;
    text-decoration: none;
    margin: auto;
}

.menu-nav a:hover {
    border-bottom: 4px solid white;
}

#item4 {
    border-bottom: 4px solid white;
}

.menu-nav div {
    display: flex;
    text-align: center;
    height: 80px;
    width: 100px;
    align-items: center;
    box-sizing: border-box;
}

.container-logo {
    padding: 25px;
    text-align: center;
    width: 50px;
    margin: 0;
}

.container-logo a{
    padding: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border: 3px solid white;
}

.perfil img {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}


.menu-nav-div1 a {
    padding: 28px;
}

.menu-nav-div2 a {
    padding: 28px;
}

.menu-nav-div3 a {
    padding: 28px 5px;
}

.menu-nav-div4 a {
    padding: 28px 5px;
}

/*Main*/

